#footer
  span(style={'margin-right': '10px'})= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
    a(href=url_for('.'), rel='nofollow')= config.title

  if theme.icp && theme.gab
    <br>

  if theme.icp
    a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn/')=  theme.icp

  if theme.gab
    span(style='margin-left: 20px;')
      img(src='/img/gab.png', style='width: 16px; vertical-align: text-bottom; object-fit: contain;')
      a(rel='noreferrer', target='_blank', href='https://beian.mps.gov.cn/')= theme.gab

  <br>

  div.github-badge
    a(rel='nofollow', target='_blank', href='https://hexo.io')
      span.badge-subject Powered by
      span.badge-value.bg-blue Hexo

  div.github-badge(style='margin-left: 5px')
    a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')
      span.badge-subject Theme
      span.badge-value.bg-green Maupassant
